altgraph==0.17
cx-Freeze==6.2
cycler==0.10.0
et-xmlfile==1.0.1
future==0.18.2
jdcal==1.4.1
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.19.0
openpyxl==3.0.4
pandas==1.0.5
pefile==2019.4.18
PyMeasure==0.8.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyQt5-stubs==5.14.2.2
pyqtgraph==0.11.0
pyserial==3.4
python-dateutil==2.8.1
pytz==2020.1
PyVISA==1.10.1
pywin32-ctypes==0.2.0
six==1.15.0
